a {
  color: rgba(255,0,0,.5)!important;
}
.compact {
  margin: 0!important;
  padding: 0!important;
}
a:hover {
  color: rgba(0,255,0,.5)!important;
}

ul {
  list-style: square!important;
  padding: 0!important;
}

li {
  font-size:2rem!important;
}

body {
  background-color: #DBF0F7;
}
/*p {
  color: #4D6656;
}*/

/*section h2 {
  color: transparent!important;
  text-shadow: 0 0 5px rgba(255,0,0,0.6)!important;
}*/

sub {
  font-size: 1rem!important;
}

code {
  padding: 1rem!important;
}

img {
  border: none!important;
  box-shadow: none!important;
}

mark {
  background-color: #D1FFB3;
}

#acc {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 10rem;
  color: rgba(255, 0, 0, .7);
  font-variant: small-caps;
}

#timer {
  /*background: transparent;*/
  /*display: none;*/
  /*height: 100%;*/
  /*width: 100%;*/improtant
}

h4 {
  display: inline-block!important;
  /*color: white!important;*/
  margin: .5rem!important;
  padding: .5rem 2rem!important;
  background: rgba(255,0,0,.2)!important;
  border-radius: .5rem!important;
}
